*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache

# YARD artifacts
.yardoc
_yardoc
.idea/

# Python
.pyc
__pycache__/

# test
test/testdir/
testdir/

# vscode
.vscode/

# Build
/docs/v*/
